<div class="col-md-4 mb-5">
  <h2>Contact Us</h2>
  <hr />
<!--   <address>
    <strong>Alice & Courtney</strong>
    <br />3481 Melrose Place <br />Beverly Hills, CA 90210
    <br />
  </address> -->
  <address>
<!--     <abbr title="Phone">P:</abbr>
    (123) 456-7890
    <br /> -->
    <strong>Alice & Courtney</strong>
    <br />
    <!-- <abbr title="Email">Email:</abbr> -->
    <a href="mailto:beingmeaningfulstudio@gmail.com">beingmeaningfulstudio@gmail.com</a>
    <br />
    <br />
    <p><a href="http://meaningfuldesign.github.io/docs/TEI_23_Studio___Soma_Reflective_Technology.pdf">Find our Studio proposal here</a></p>
  </address>
</div>
