<div class="col-md-4 mb-5">
  <h2>Get in Touch</h2>
  <hr />
<!--   <address>
    <strong>Alice & Courtney</strong>
    <br />3481 Melrose Place <br />Beverly Hills, CA 90210
    <br />
  </address> -->
  <address>
<!--     <abbr title="Phone">P:</abbr>
    (123) 456-7890
    <br /> -->
    <div style="border-radius:15px;-webkit-border-radius:15px;-moz-border-radius:15px;width:100%;float:center;background-color:white;margin-left:0;padding:10px;text-align:left;">
    <strong>Alice & Courtney</strong>
    <br />
    <!-- <abbr title="Email">Email:</abbr> -->
    <a href="mailto:beingmeaningfulstudio@gmail.com" target="_blank">beingmeaningfulstudio@gmail.com</a>
    <br />
    <br />
    <a class="btn btn-primary btn-lg" href="mailto:beingmeaningfulstudio@gmail.com">Email Us &raquo;</a>
    <br />
    <!-- <abbr title="Site">Proposal:</abbr> -->
    <!-- <p><a href="http://meaningfuldesign.github.io/docs/TEI_23_Studio___Soma_Reflective_Technology.pdf">Find our Studio proposal here!</a></p> -->
    </div>
  </address>
</div>
